
  
    .dog33{
        display: flex ;
        flex-wrap: wrap;
    gap: 115px;
    
    }
.h655{
width: 400px;}
.h44{
    background-color: aqua;
    border: 2px solid black;
    list-style: none;
    border-radius: 50px;
    text-align: center;
    overflow: hidden;
}
